<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520246817600-i7a7m1n2tjn38rd5nm7e65ccpk3fq58c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520246817600-i7a7m1n2tjn38rd5nm7e65ccpk3fq58c</string>
	<key>API_KEY</key>
	<string>AIzaSyBpcw2hR8KxOE2NYBbkuGYN6IjU38rRy6o</string>
	<key>GCM_SENDER_ID</key>
	<string>520246817600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.careshare.CareShare</string>
	<key>PROJECT_ID</key>
	<string>careshare-b6dc3</string>
	<key>STORAGE_BUCKET</key>
	<string>careshare-b6dc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520246817600:ios:ba22f83878b467ab3e40a5</string>
</dict>
</plist>